# ignoring all __pycache__ folders
__pycache__/

# ignoring all .pyc files
*.pyc

# ignoring all pyeggs
*.egg-info/

build/*

# Ignoring all .DS_Store files
.DS_Store
/**/.DS_Store

/src/h2_gym/tmp/*
!/src/h2_gym/tmp/.gitkeep
/build